*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    flex-direction: row;
    height: 60vw;
    background-color: rgb(59, 68, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2REM;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: rgb(16, 15, 70);
    border-radius: 10px;
}


form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 15, 70);
    border-radius: 10px;
}
.form input{
  margin: 3px;
  text-align: left;
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 70%;
    height: 30px;    
}
.form input:focus{
    outline: none;
    background-color: rgb(231, 231, 231);
    border-bottom: rgb(75, 80, 153) solid 1px;
    transition: ease-in-out 0.9s;
}
.form input:focus::-webkit-input-placeholder{
    color: rgb(75, 80, 153);
}
#submit{
    background-color: rgb(75, 80, 153);
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    width: 50%;
    text-align: center;
}
#submit:hover{
    background-color: rgb(53, 60, 156);
    box-shadow: darkblue 2px 0px 5px;
    color: floralwhite;
    transition: ease-in-out 0.5s;
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}
h1:hover{
    color: blueviolet;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
    transform: translateY(-3px);
    transform: rotate(-1deg);
}